@import 'bootstrap/dist/css/bootstrap.min.css';
@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/regular.css';
@import '@fortawesome/fontawesome-free/css/solid.css';
@import '@fortawesome/fontawesome-free/css/brands.css';

.bg-gray {
    background-color: #dfe6e9;
}

.bg-dracula {
    background-color: #2d3436;
}

.bg-white {
    background-color: white;
}

.min-vh-80 {
    min-width: 100vh;
    min-height: 80vh;
}

.width-100 {
    width: 100%;
}

.error-font-size {
    font-size: 16px;
}

.error-underline {
    border: none;
    border-bottom: 1px solid #DC3545 !important;
}

.error-border {
    border: 1px solid #DC3545;
}

.underline-form {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

.underline-form:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.mt-7 {
    margin-top: 7rem;
}

.set-relapse-button {
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.post-button {
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.border-radius-2-rem {
    border-radius: 2rem !important;
}

.border-radius-1-rem {
    border-radius: 1rem !important;
}

#user-post-input {
    cursor: pointer;
}

.success-alert {
    border: none;
    background-color: #2ecc71;
    width: 25%;
}

.danger-alert {
    border: none;
    background-color: #e74c3c;
    width: 25%;
}

.no-underline {
    text-decoration: none;
}

.expand-clickable-area-1-rem {
    padding: 1rem;
    margin: -1rem;
}

.post-menu-dropdown-margin {
    margin-top: -0.7rem !important;
    margin-right: 0.8rem !important;
}

.keep-whitespace {
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
}

.text-green {
    color: green;
}

.btn-muted-blue {
    background-color: #83A1CD;
    border: none !important;
}

.btn-red {
    background-color: red;
    border: none !important;
}

.btn-gray {
    background-color: #ecf0f1;
    border: none !important;
}

.btn-gray:hover {
    background-color: #dcdde1;
}

.btn-no-hover {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-family: inherit;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-bg: transparent;
    --bs-btn-border-width: var(--bs-border-width);
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: var(--bs-border-radius);
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), 0.5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
}

.border-radius-0_375-rem {
    border-radius: 0.375rem;
}

.btn-no-hover:disabled {
    opacity: var(--bs-btn-disabled-opacity);
    pointer-events: none;
}

.font-weight-light {
    font-weight: 300;
}

.font-italic {
    font-style: italic;
}

.font-size-100px {
    font-size: 100px;
}

.max-width-10-percent {
    max-width: 10%;
}

.max-height-260px {
    max-height: 260px;
}

.height-250px {
    height: 250px;
}

.overflow-y-scroll {
    overflow-y: scroll;
}

.selected-calendar-date {
    background-color: #2ecc71 !important;
}

.relapsed-date {
    background-color: #fab1a0;
}

.unrelapsed-date {
    background-color: #daf1de !important;
}

.mw-97 {
    max-width: 97% !important;
}

.mw-30 {
    max-width: 30% !important;
}

.hw-40px {
    height: 40px;
    width: 40px;
}

.hw-45px {
    height: 45px;
    width: 45px;
}

.hw-200px {
    height: 200px;
    width: 200px;
}

.red-on-hover:hover {
    background-color: #dc3545;
    color: white;
}

.hidden {
    display: none !important;
}

.pointer-on-hover:hover {
    cursor: pointer;
}

.image-container:hover .profile-image {
    filter: brightness(50%);
}

.profile-image {
    position: relative;
    z-index: 0;
    transition: all 0.2s ease;
}

.icon {
    position: absolute;
    z-index: 1;
    opacity: 0;
 }

 .image-container:hover .icon {
    font-size: 200%;
    opacity: 1;
    color: white;
    transition: opacity 0.2s ease;
 }

 .post-image-upload-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 7px 11px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.post-image-upload-button i {
    font-size: 150%;
}

.upload-button:hover {
    background-color: #0056b3;
}

.button-click-animation:active {
    transform: scale(0.95);
}

.button-click-animation-sm:active {
    transform: scale(0.99);
}

.no-styling {
    all: unset;
}

.mb-4_5 {
    margin-bottom: 2rem;
}

.submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.spinner-elem {
  position: absolute;
  left: 10px;
  visibility: hidden;
}

.center-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.width-850px {
    width: 850px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spin {
    animation: spin 1s linear infinite;
}

.underline-on-hover:hover {
    text-decoration: underline;
}

.border-radius-1-rem-left {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.max-height-50vh {
    max-height: 50vh;
}

.font-size-150-percent {
    font-size: 140%;
}

.mt-2_5 {
    margin-top: 11px;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 24px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #0d6efd;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.toggle-label {
  margin-left: 10px;
  font-size: 1rem;
  font-weight: 500;
}

.no-border {
    border: none;
}

.disabled-img {
  opacity: 0.6;
  pointer-events: none;
}

.caret-color-transparent {
    caret-color: transparent;
}